@model IEnumerable<EDzienik.Entities.Grade>

@{
    ViewData["Title"] = "Oceny";
}

<h1>Oceny</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Wystaw nową ocenę</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Przedmiot</th>
            <th>Uczeń</th>
            <th>Ocena</th>
            <th>Opis</th>
            <th>Nauczyciel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @DateTimeOffset.FromUnixTimeSeconds(item.CreatedUnix).ToString("dd.MM.yyyy HH:mm")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    @(item.Student.User != null ? $"{item.Student.User.FirstName} {item.Student.User.LastName}" : "Brak danych")
                </td>
                <td style="font-weight: bold; font-size: 1.1em;">
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @(item.Teacher.User != null ? $"{item.Teacher.User.LastName} {item.Teacher.User.FirstName[0]}." : "Nauczyciel")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
